* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav-container {
  background-color: #121214;
  padding: 0 200px;
  margin-bottom: 49px;
}

.navbar {
  max-width: 1600px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 102px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  font-family: RF Dewi Extended;
  font-weight: 600;
  font-style: Semibold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 32px;
}

.hero {
  padding: 0 100px;
  margin-bottom: 80px;
}

.herobg-img {
  background: url("./assets/images/heroBgImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 7px;
}

.hero-p {
  max-width: 571px;
  padding: 80px 80px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: 63px;
}

.hero-title h1 {
  font-family: RF Dewi Expanded;
  font-weight: 900;
  font-style: Black;
  font-size: 51px;
  leading-trim: NONE;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #171819;
}

.hero-title p {
  font-family: RF Dewi Extended;
  font-weight: 400;
  font-style: Regular;
  font-size: 19px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
  color: #121214;
}

.hero-title button {
  width: 250px;
  height: 66px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 23px;
  border-radius: 5px;
  background-color: #121214;
  color: #ffffff;
  cursor: pointer;
}

.sircles {
  display: flex;
  justify-content: left;
  gap: 15px;
}

.sircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: #ffffff;
}

.sircle:hover {
  background-color: #f0f2f6;
}

.Shoes {
  padding: 0 180px;
  margin-bottom: 80px;
}

.shoes-carts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}

.shoes-cart {
  position: relative;
  max-width: 318px;
  margin-bottom: 60px;
}

.star {
  position: absolute;
  top: 33px;
  right: 25px;
}

.shoes-carts .shoes-cart .img-container {
  width: 250px;
  height: 250px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.ac img {
  height: 80%;
}

.cart-name {
  font-family: RF Dewi Extended;
  font-weight: 700;
  font-style: Bold;
  font-size: 19px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
}

.cart-price {
  font-family: RF Dewi Extended;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  color: #3c3c3c;
}

.section-paragrph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.section-paragrph h2 {
  font-family: RF Dewi Expanded;
  font-weight: 900;
  font-style: Black;
  font-size: 31px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #121214;
}

.section-paragrph p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: RF Dewi Extended;
  font-weight: 800;
  font-style: Ultrabold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 23px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 2px solid #121214;
}

.pagable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculate {
  padding: 0 100px;
}

.calculatee {
  padding: 0 80px;
  background: linear-gradient(
    267.03deg,
    #0d99f8 0.94%,
    #21a0f8 5.36%,
    #54b5ff 27.35%,
    #0dbbf8 79%,
    #0ddbf8 97.53%
  );
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cal-title h2 {
  max-width: 571px;
  font-family: RF Dewi Expanded;
  font-weight: 900;
  font-style: Black;
  font-size: 51px;
  leading-trim: NONE;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
}

.cal-title > p {
  font-family: RF Dewi Extended;
  font-weight: 400;
  font-style: Regular;
  font-size: 19px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 24px;
  max-width: 738px;
}

.cal-sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 58px;
}
.cal-sections > div {
  max-width: 355px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cal-sections > div p {
  font-family: RF Dewi Extended;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
}

.cal-sections > div div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff75;
}

.cal-sections > div div span {
  color: #ffffff;
}

.cal-phone-container {
  position: relative;
  width: 220px;
}

.me {
  transform: rotate(15deg);
  width: 100%;
}

.me-2 {
  width: 88%;
  position: absolute;
  top: 0;
  left: 2px;
}
